@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #A1C3FF;
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: 0px 50px;
}

nav .container {
    margin: 0px 50px;
    color: white;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav li {
    list-style: none;
    font-size: 18px;
    font-display: bold;
    color: white;
}

li a {
    text-decoration: none;
    color: white;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.navbar {
    background-color: rgb(82, 82, 201);
}

.logo {
    color: white;
    font-size: x-large;
    font-style: bold;

}

.login a {
    color: white;
    text-decoration: none;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

header img {
    width: 750px;
}

.container h1 {
    font-size: 48px;
    font-weight: 900px;
    line-height: 1.2;

}

.container h1,
p {
    
    padding: 10px 0px;
}

.features{
    background-color: whitesmoke;
}

.features .container{
    display: flex;
    justify-content: space-around;
    min-height: 400px;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px 0px;
}

.card{
    max-width: 300px;
    max-height: 350px;
    border: 1px solid lightblue;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(82, 82, 201);;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    color: white;

}
